services:
  postgres:
    image: postgres:17
    environment:
      POSTGRES_USER: synapse
      POSTGRES_PASSWORD: synapsepassword
      POSTGRES_DB: synapse
      LANG: 'C'
      LANGUAGE: 'C'
      LC_ALL: 'C'
      LC_COLLATE: 'C'
      LC_CTYPE: 'C'
      ENCODING: "UTF8"
      POSTGRES_INITDB_ARGS: "-E UTF8"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
  redis:
    image: redis:7-alpine
    expose:
      - "6379"
  tezos-synapse:
    image: ghcr.io/apham0001/beacon-node:latest
    depends_on:
      - postgres
      - redis
    ports:
      - "8008:8008"
      - "8083:8083"
      - "8084:8084"
      - "8085:8085"
      - "8086:8086"
    environment:
      DB_HOST: postgres
      DB_USER: synapse
      DB_PASS: synapsepassword
      DB_NAME: synapse
      SERVER_NAME: matrix.papers.tech
      SIGNING_KEY: "dummy signing key"
      SERVER_REGION: EU
    volumes:
      - ./data/synapse-config:/data
