version: "3.5"

services:
  postgres:
    image: postgres:12.0
    environment:
      POSTGRES_USER: synapse
      POSTGRES_PASSWORD: synapsepassword
      POSTGRES_DB: synapse
      LANG: 'C'
      LANGUAGE: 'C'
      LC_ALL: 'C'
      LC_COLLATE: 'C'
      LC_CTYPE: 'C'
      ENCODING: "UTF8"
      POSTGRES_INITDB_ARGS: "-E UTF8"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
  redis:
    image: redis:6.2.6-buster
    expose: 
      - "6379"
  tezos-synapse:
    image: beacon-node
    depends_on:
      - postgres
    ports:
      - "8008:8008" # 8008 is exposed. Route all traffic from port 443 and 8448 to this port
      - "8083:8083" # exposing the workers for loadbalancing
      - "8084:8084"
      - "8085:8085"
      - "8086:8086"
    environment:
      DB_HOST: postgres
      DB_USER: synapse
      DB_PASS: synapsepassword
      DB_NAME: synapse
      SERVER_NAME: matrix.papers.tech
      SIGNING_KEY: "dummy signing key"
      SERVER_REGION: EU

    volumes:
      - ./data/synapse-config:/data